<div class="modal-content">
    <div class="modal-header bg-primary">
        <i class="ion-android-warning modal-icon"></i><span> Example 2</span>
    </div>
	<div class="modal-body text-center" style="min-height:240px;">
	  <div class="row">
		<div class="col-sm-6">
		  <div class="form-group">
			<label for="inputFirstName">First Name</label>
			<input type="text" class="form-control" id="inputFirstName" ng-model="objExample.Fname" placeholder="First Name">
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="form-group">
			<label for="inputLastName">Last Name</label>
			<input type="text" class="form-control" id="inputLastName" ng-model="objExample.Lname" placeholder="Last Name">
		  </div>
		</div>
	  </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div> 