<div class="col-lg-12 col-md-12">
    <div ba-panel ba-panel-title="Test smart table" ba-panel-class="with-scroll ">

        <div >
        <div class="form-group select-page-size-wrap ">
            <label> Result per page
            <select class="form-control selectpicker show-tick" title="Result per page" selectpicker
                    ng-model="pageSize" ng-options="i for i in [5,25,50,100]">
            </select>
            </label>
        </div>
        <table class="table table-striped" st-pipe="loadData" st-set-filter="customFilter" st-table="displayedCollection">
            <thead>
                <tr class="sortable">
                    <th class="table-id" st-sort="id" style="cursor:default">#</th>
                    <th st-sort="firstName">First Name</th>
                    <th st-sort="lastName">Last Name</th>
                    <th st-sort="username">Username</th>
                    <th st-sort="email">Email</th>
                    <th st-sort="age">Age</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dataList">
                    <td class="table-id">{{item.id}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.username}}</td>
                    <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                    <td>{{item.age}}</td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">
                    <span class="loading-for-api"></span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
            <td colspan="12" class="text-center">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="10" st-template="app/share/smartTable/stPageSelect.html"></div>
            </td>
            </tr>
            </tfoot>
        </table>
        </div>
</div>  
</div>  
