<div class="col-lg-12 col-md-12">
    <div ba-panel ba-panel-title="Hover Rows" ba-panel-class="with-scroll table-panel">
        <div class="vertical-scroll">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dataList">
                    <td class="table-id">{{item.id}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.username}}</td>
                    <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                    <td>{{item.age}}</td>
                </tr>
                </tbody>
                <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">
                            <span class="loading-for-api"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <!-- ทำหน้า -->
      <div class="row tblResult small"  >
        <div class="col-md-7 col-sm-7 col-xs-12 ">
            <label class="col-md-4 col-sm-4 col-xs-12">
               Total {{totalRecords}} Records
            </label>
            <label class="col-md-4 col-sm-4 col-xs-12" style="text-align: right;">
                Result per page
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
              
              <ui-select  class="form-control full-width-fix" ng-model="TempPageSize.selected" ng-change="loadByPageSize()" theme="select2">
                <ui-select-match>{{$select.selected.Text}}</ui-select-match>
                <ui-select-choices repeat="pSize in listPageSize | filter: $select.search">
                  <span ng-bind-html="pSize.Text | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12  ">
            <label class="col-md-4 col-sm-4 col-xs-12" style="text-align: right;">
                <span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left"></i>  <span class="hidden-xs">Pervious</span></span>
            </label>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <ui-select  class="form-control full-width-fix" ng-model="TempPageIndex.selected" ng-change="searchByPage()" theme="select2">
                <ui-select-match>{{$select.selected.PageIndex}}</ui-select-match>
                <ui-select-choices repeat="pIndex in listPageIndex | filter: $select.search">
                  <span ng-bind-html="pIndex.PageIndex | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <label class="col-md-4 col-sm-4 col-xs-12">
                / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer"> Next <i class="fa fa-chevron-right set-pointer"></i></span>
            </label>
        </div>
    </div>
  <!-- ทำหน้า -->
</div>
