<h1>Example</h1>
<div class="widgets" >

    <div  ba-panel  ba-panel-title="Basic Form"  ba-panel-class="with-scroll">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName"  ng-model="objExample.Fname" placeholder="First Name">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" ng-model="objExample.Lname" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstName">Email</label>
            <input type="email" class="form-control" id="inputEmail" ng-model="objExample.Email" placeholder="Email">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputWebsite">Website</label>
            <input type="text" class="form-control" id="inputWebsite" ng-model="objExample.Website" placeholder="Website">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dateInput">Date</label>          
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="dt" is-open="popup1.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> 
            <select class="form-control full-width-fix" ui-select2  ng-model="format" ng-options="f for f in formats">
              <option></option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-primary" ng-click="ShowError()">Show Error</button>
      <button type="button" class="btn btn-primary" ng-click="ShowMsg()">Show Message</button>
      <button type="button" class="btn btn-primary" ng-click="ShowConfirm()">Show Confirm</button>

      <button type="button" class="btn btn-primary" ng-click="openCustomDlg()">Show Custom Dlg 1</button>
	  <button type="button" class="btn btn-primary" ng-click="openCustomDlg2()">Show Custom Dlg 2</button>
      <br/><br/>


      <div class="row">
        <div include-with-scope="app/pages/example/widgets/table.html"></div>
      </div>

      <div class="row">
        <div include-with-scope="app/pages/example/widgets/smartTable.html"></div>
      </div>


    </div>

    
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12">
        <div ba-panel ba-panel-title="Condensed Table" ba-panel-class="with-scroll table-panel">
          <div include-with-scope="app/pages/tables/widgets/condensedTable.html"></div>
        </div>
      </div>
    </div> -->
  
  </div>

  