﻿<div class="modal-content">
  <div class="modal-header  bg-danger">
   <i class="ion-flame modal-icon"></i><span> {{'Error'|translate}}</span>
  </div>
  <div class="modal-body">
     {{messageDlg}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">{{ 'Close' | translate}}</button>
  </div>
</div>